
<!-- Blog Post Section -->
<section class="padding ptb-xs-40" style="margin:20px 20px">
  <div class="container">
    <div class="row">
      <!-- Post Item -->
      <div class="col-lg-9">
        <div class="row">
          <div class="col-md-12 blog-post-hr">
            <div class="blog-post mb-30">
              <div class="post-media">
                <div>
                  <div class="item">
                    <img
                      src="assets/images/248335172_1506936429691580_4336630629424643414_n.jpg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="post-header">
                <h2>LAVAGE DE VITRINES DE COMMERCE ET ENTREPRISE À TOULOUSE</h2>
              </div>
              <div class="post-entry">
                <p>
                  L’entreprise SERVICE31CLEAN spécialiste du nettoyage de vitres
                  à Toulouse et alentours propose ses services et prestations
                  pour le lavage et l’entretien de vitrines. Parce que la
                  vitrine est l’image et le reflet d’un commerce ou d’une
                  entreprise, c’est elle qui suscitera l’envie de pousser la
                  porte et rentrer. Un entretien régulier est donc nécessaire du
                  fait de son exposition aux intempéries et malheureusement à la
                  pollution aussi. L'agent de nettoyage de l’entreprise
                  SERVICE31CLEAN bénéficie d’une formation spécifique et précise
                  de lavage de vitrines quelques soient leurs tailles et formes
                  qui leur permet de satisfaire toutes exigences des clients
                  avec un résultat optimalet de qualité.
                </p>
              </div>
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="gallery-section">
  <div class="inner-width">
    <h1>Mes travailles</h1>
    <div class="border"></div>
    <div class="gallery">
      <a
        href="assets/images/248335172_1506936429691580_4336630629424643414_n.jpg"
        class="image"
      >
        <img
          src="assets/images/248335172_1506936429691580_4336630629424643414_n.jpg"
          alt=""
        />
      </a>

      <a
        href="assets/images/248205442_429428911909519_8875138689935369908_n.jpg"
        class="image"
      >
        <img
          src="assets/images/248205442_429428911909519_8875138689935369908_n.jpg"
          alt=""
        />
      </a>

      <a
        href="assets/images/248871536_673158244072194_497777045934710040_n.jpg"
        class="image"
      >
        <img
          src="assets/images/248871536_673158244072194_497777045934710040_n.jpg"
          alt=""
        />
      </a>

      <a
        href="assets/images/248344207_792508968253739_9007913876174664167_n.jpg"
        class="image"
      >
        <img
          src="assets/images/248344207_792508968253739_9007913876174664167_n.jpg"
          alt=""
        />
      </a>

      <a
        href="assets/images/248422123_415166670135340_5214546094325136836_n.jpg"
        class="image"
      >
        <img
          src="assets/images/248422123_415166670135340_5214546094325136836_n.jpg"
          alt=""
        />
      </a>

      <a
        href="assets/images/256189144_1692679350927663_10623280173275484_n.jpg"
        class="image"
      >
        <img
          src="assets/images/256189144_1692679350927663_10623280173275484_n.jpg"
          alt=""
        />
      </a>

      <a
        href="assets/images/248335172_1506936429691580_4336630629424643414_n.jpg"
        class="image"
      >
        <img
          src="assets/images/248335172_1506936429691580_4336630629424643414_n.jpg"
          alt=""
        />
      </a>

      <a
        href="assets/images/248335172_1506936429691580_4336630629424643414_n.jpg"
        class="image"
      >
        <img
          src="assets/images/248335172_1506936429691580_4336630629424643414_n.jpg"
          alt=""
        />
      </a>
    </div>
  </div>
</div>

<script>
  $(".gallery").magnificPopup({
    delegate: "a",
    type: "image",
    gallery: {
      enabled: true,
    },
  });
</script>
