<!-- Intro Section -->
<section
  class="inner-intro bg-img light-color overlay-before parallax-background"
>
  <div class="container">
    <div class="row title">
      <div class="title_row">
        <h1 data-title="About"><span>À propos</span></h1>
        <div class="page-breadcrumb"><a>Accueil</a>/ <span>À propos</span></div>
      </div>
    </div>
  </div>
</section>
<!-- Intro Section End-->

<!-- About Section -->
<div id="about-section" class="padding pt-xs-40">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-8">
        <div class="block-title v-line">
          <h2><span>Notre</span> Entreprise</h2>
        </div>
        <div class="text-content">
          <h3>SERVICE31CLEAN</h3>
          <p>
            Dirigée par BADI Brahim, propose des services de nettoyage
            professionnel à Toulouse et ses environs. Spécialisée dans
            l’entretien des bâtiments professionnels et privés, notre
            entreprise, se tient à votre disposition pour réaliser vos
            prestations dans les plus brefs délais et dans les meilleures
            conditions avec un trvail de qualité.
          </p>
        </div>
        <hr class="divider" />
        <div class="post-content">
          <div class="post-img">
            <img
              class="img-responsive"
              src="assets/images/blog.jpg"
              alt="Photo"
            />
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="dark-bg our-vision light-color padding-40">
          <div class="block-title">
            <h2><span>Notre</span> Vision</h2>
          </div>
          <ul>
            <li>Notre savoir-faire pour répondre à vos besoins de propreté</li>
            <li>
              Notre savoir-être pour une relation efficace et bienveillante
            </li>
            <li>Une équipe support réactive et à votre écoute</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About Section End-->

<section class="padding ptb-xs-40 gray-bg service_sec">
  <div class="container marketing">
    <div class="row mb-xs-30">
      <div class="col-md-12">
        <div class="section-title_home text-center" style="margin-bottom: 20px">
          <h2>NOS CLIENTS</h2>
          <span class="b-line"></span>
        </div>
        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img
              class="rounded-circle"
              src="assets/images/client-logo/Nexity-logo.svg.png"
              alt="Generic placeholder image"
              width="200"
              height="200"
            />
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img
              class="rounded-circle"
              src="assets/images/client-logo/MannonceX.jpg"
              alt="Generic placeholder image"
              width="200"
              height="200"
            />
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img
              class="rounded-circle"
              src="assets/images/client-logo/16762.jpg"
              alt="Generic placeholder image"
              width="200"
              height="200"
            />
          </div>
          <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
      </div>
    </div>
  </div>
</section>

<section class="padding ptb-xs-40 gray-bg service_sec">
  <div class="container marketing">
    <div class="row mb-xs-30">
      <div class="col-md-12">
        <div class="section-title_home text-center" style="margin-bottom: 20px">
          <h2><span>Nos </span>partenaires</h2>
          <span class="b-line"></span>
          <p>
            Notre entreprise s’est engagée à respecter les règles de notre
            profession en adhérant à la chambre de métiers et de l'artisanat
          </p>
        </div>
        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img
   
              src="assets/images/client-logo/cma.jpg"
              alt="Generic placeholder image"
              width="200"
              height="200"
            />
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img
              src="assets/images/client-logo/eu-ecolabel.jpg"
              alt="Generic placeholder image"
              width="200"
              height="200"
            />
          </div>
        </div>
        <!-- /.row -->
      </div>
    </div>
  </div>
</section>

